@import 'node_modules/@bbva-web-components/bbva-foundations-sass/main';

ul,
ol,
li,
figure,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  wid
}

[slot='app-main-content'] {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.main-inputs {
  margin: auto 0;
  .input {
    margin-bottom: 1rem;
  }
}

.input-link {
  display: block;
  text-align: right;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  .input {
    margin-bottom: 1rem;
    min-width: 13rem;
  }
}
